<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jolly Mountain</title>

    <!--link iconscout-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />

    <!--Link css-->
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body>
    <nav>
      <div class="container nav-wrapper">
        <h2 class="log">Jolly<span>Mountain</span></h2>
        <div class="search-bar">
          <i class="uil uil-search-alt"></i>
          <input
            type="search"
            id="mountain-search"
            placeholder="Search Mountain"
          />
        </div>
        <div class="login">
          <a class="btn btn-primary" href="/views/login.html">Login</a>
          <div class="profile-picture">
            <img
              src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
              alt=""
            />
          </div>
        </div>
      </div>
    </nav>

    <!----------------- MAIN ------------------->
    <main>
      <div class="container-main">
        <!----------------- MAIN-LEFT ------------------->
        <div class="main-left">
          <a class="profile">
            <div class="profile-picture">
              <img src="/assets/images/profile-1.jpg" />
            </div>
            <div class="handle">
              <h4>Fahsal Marraz</h4>
              <p class="text-muted">@Fahsal Marraz</p>
            </div>
          </a>

          <!----------------- SIDEBAR ------------------->
          <div class="sidebar">
            <a class="menu-item active" href="/views/index.html">
              <span><i class="uil uil-home"></i></span>
              <h3>Home</h3>
            </a>
            <a class="menu-item" href="/views/mountain.html">
              <span><i class="uil uil-mountains-sun"></i></span>
              <h3>Mountain</h3>
            </a>
            <a class="menu-item" href="/views/inventory.html">
              <span><i class="uil uil-backpack"></i></span>
              <h3>Inventory</h3>
            </a>
          </div>
          <!----------------- END SIDEBAR ------------------->
        </div>

        <!----------------- MAIN-MIDDLE ------------------->
        <div class="main-middle">
          <!----------------- STORIES  ------------------->
          <div class="stories">
            <div class="story">
              <div class="profile-picture">
                <img
                  src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                />
              </div>
              <p class="name">Gunung Merbabu</p>
            </div>

            <div class="story">
              <div class="profile-picture">
                <img src="/assets/images/GunungSlamet1.jpg" />
              </div>
              <p class="name">Gunung Rinjani</p>
            </div>

            <div class="story">
              <div class="profile-picture">
                <img src="/assets/images/gunungrinjani1.jpg" />
              </div>
              <p class="name">Gunung Slamet</p>
            </div>

            <div class="story">
              <div class="profile-picture">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>
              <p class="name">Gunung Kerinci</p>
            </div>

            <div class="story">
              <div class="profile-picture">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>
              <p class="name">Gunung Prau</p>
            </div>

            <div class="story">
              <div class="profile-picture">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>
              <p class="name">Gunung Guntur</p>
            </div>
          </div>
          <!-----------------AKHIR STORIES  ------------------->

          <!----------------- FEED ------------------->
          <div class="feeds">
            <!----------------- FEED 1 ------------------->
            <div class="feed">
              <div class="head">
                <div class="mountain-feed">
                  <div class="profile-picture">
                    <img src="/assets/images/profile-1.jpg" />
                  </div>
                  <div class="ingo">
                    <h3>Gunung Bromo</h3>
                    <small> Taman Nasional Bromo Tengger Semeru</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="uil uil-ellipsis-h"></i>
                </span>
              </div>

              <div class="photo">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>

              <div class="action-button">
                <div class="interaction-buttons">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <p>liked by <b>Fahsal Marraz</b> and <b>2,999 other</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Fahsal Marraz</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Aperiam, dignissimos!
                </p>
              </div>
              <div class="comments text-muted">view all 19 comments</div>
            </div>
            <!----------------- AKHIR FEED ------------------->

            <!----------------- FEED 2 ------------------->
            <div class="feed">
              <div class="head">
                <div class="mountain-feed">
                  <div class="profile-picture">
                    <img src="/assets/images/profile-1.jpg" />
                  </div>
                  <div class="ingo">
                    <h3>Gunung Guntur</h3>
                    <small> Taman Nasional Bromo Tengger Semeru</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="uil uil-ellipsis-h"></i>
                </span>
              </div>

              <div class="photo">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>

              <div class="action-button">
                <div class="interaction-buttons">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <p>liked by <b>Fahsal Marraz</b> and <b>2,999 other</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Fahsal Marraz</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Aperiam, dignissimos!
                </p>
              </div>
              <div class="comments text-muted">view all 19 comments</div>
            </div>
            <!----------------- AKHIR FEED ------------------->

            <!----------------- FEED 3 ------------------->
            <div class="feed">
              <div class="head">
                <div class="mountain-feed">
                  <div class="profile-picture">
                    <img src="/assets/images/profile-1.jpg" />
                  </div>
                  <div class="ingo">
                    <h3>Gunung Slamet</h3>
                    <small> Taman Nasional Bromo Tengger Semeru</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="uil uil-ellipsis-h"></i>
                </span>
              </div>

              <div class="photo">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>

              <div class="action-button">
                <div class="interaction-buttons">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <p>liked by <b>Fahsal Marraz</b> and <b>2,999 other</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Fahsal Marraz</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Aperiam, dignissimos!
                </p>
              </div>
              <div class="comments text-muted">view all 19 comments</div>
            </div>
            <!----------------- AKHIR FEED ------------------->

            <!----------------- FEED 4 ------------------->
            <div class="feed">
              <div class="head">
                <div class="mountain-feed">
                  <div class="profile-picture">
                    <img src="/assets/images/profile-1.jpg" />
                  </div>
                  <div class="ingo">
                    <h3>Gunung Rinjani</h3>
                    <small> Taman Nasional Bromo Tengger Semeru</small>
                  </div>
                </div>
                <span class="edit">
                  <i class="uil uil-ellipsis-h"></i>
                </span>
              </div>

              <div class="photo">
                <img src="/assets/images/gunungbromo1.jpg" />
              </div>

              <div class="action-button">
                <div class="interaction-buttons">
                  <span><i class="uil uil-heart"></i></span>
                  <span><i class="uil uil-comment-dots"></i></span>
                  <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                  <span><i class="uil uil-bookmark-full"></i></span>
                </div>
              </div>

              <div class="liked-by">
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <span
                  ><img
                    src="/assets/images/330px-Megawati_Sukarnoputri_in_hijab_(cropped).png"
                /></span>
                <p>liked by <b>Fahsal Marraz</b> and <b>2,999 other</b></p>
              </div>
              <div class="caption">
                <p>
                  <b>Fahsal Marraz</b> Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Aperiam, dignissimos!
                </p>
              </div>
              <div class="comments text-muted">view all 19 comments</div>
            </div>
            <!----------------- AKHIR FEED ------------------->
          </div>
        </div>

        <!----------------- MAIN-RIGHT ------------------->
        <div class="main-right"></div>
      </div>
      <!----------------- AKHIR MAIN-RIGHT ------------------->
    </main>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
