<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jolly Mountain</title>

    <!--link iconscout-->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"
    />

    <!-----css---->
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body class="body-index">
    <!----- Navigation------->
    <div class="container-nav">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><i class="uil uil-hunting"></i></span>
              <span class="title">Jolly Mountain</span>
            </a>
          </li>

          <li>
            <a href="/views/index.html">
              <span class="icon"><i class="uil uil-home"></i></span>
              <span class="title">Home</span>
            </a>
          </li>

          <li>
            <a href="/views/mountains.html">
              <span class="icon"><i class="uil uil-mountains"></i></span>
              <span class="title">Mountains</span>
            </a>
          </li>

          <li>
            <a href="/views/inventory.html">
              <span class="icon"><i class="uil uil-backpack"></i></span>
              <span class="title">Inventory</span>
            </a>
          </li>

          <li>
            <a href="/views/login.html">
              <span class="icon"><i class="uil uil-sign-in-alt"></i></span>
              <span class="title">Sing in</span>
            </a>
          </li>
        </ul>
      </div>

      <!----Main------>

      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search Mountain" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="profile-picture" onclick="redirectToLogin()">
            <img src="/assets/images/profile-1.jpg" />
          </div>
        </div>

        <!-------CARD--------->

        <div class="cardBox">
          <div class="card">
            <div>
              <div class="cardName">Gunung Bromo</div>
            </div>
          </div>

          <div class="card">
            <div>
              <div class="cardName">Gunung Rinjani</div>
            </div>
          </div>

          <div class="card">
            <div>
              <div class="cardName">Gunung Slamet</div>
            </div>
          </div>

          <div class="card">
            <div>
              <div class="cardName">Gunung Prau</div>
            </div>
          </div>
        </div>

        <!-------- recent mountain ---------->
        <div class="details">
          <div class="recentMountain">
            <div class="cardHeader">
              <h2>Recent Mountain</h2>
              <a href="#" class="btn">View all</a>
            </div>

            <table>
              <thead></thead>

              <tbody>
                <tr>
                  <td data-image="/assets/images/gunungbromo.jpg">
                    Gunung Bromo
                  </td>
                </tr>

                <tr>
                  <td data-image="/assets/images/gunungrinjani.jpg">
                    Gunung Rinjani
                  </td>
                </tr>

                <tr>
                  <td data-image="/assets/images/gunungslamet.jpg">
                    Gunung Slamet
                  </td>
                </tr>

                <tr>
                  <td data-image="/assets/images/gunungprau.jpg">
                    Gunung Prau
                  </td>
                </tr>
                <tr>
                  <td data-image="/assets/images/gunungsemeru.jpg">
                    Gunung semeru
                  </td>
                </tr>

                <tr>
                  <td data-image="/assets/images/gunungijen.jpg">
                    Gunung Ijen
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-------Recent Inventory---------->
          <div class="recentInventory">
            <div class="cardHeader">
              <h2>Recent Inventory</h2>
            </div>

            <table>
              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>

              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>
              <tr>
                <td width="60px">
                  <div class="icon-inv">
                    <i class="uil uil-medical-square-full"></i>
                  </div>
                </td>
                <td>
                  <h4>Obat Pusing <br /><span> 10 </span></h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!---Javascript------>
    <script src="/assets/js/main.js"></script>
    <!----Ionicon----->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
